version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "5000:5000"

  web:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - api
